html , body{
    overflow-x:hidden;
}

.homepage-bg{
    background: url('../src/assets/Images/bghome.svg');
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 12px;
	background-color: #000814;
    
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #000814;
    
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555; 
}

.blackButton {
	@apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5;
  }
  .lable-style {
	@apply text-[14px] text-richblack-5;
  }
  .form-style {
	@apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
  }
  .section_heading {
	@apply text-2xl font-bold text-richblack-5 lg:text-4xl;
  }